{{ role_name|upper() }}
{{ '='*role_name|length }}

A brief description of the role goes here.

Requirements
------------

Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required.

Ansible 2.0+

Role Variables
--------------

A description of the settable variables for this role should go here, including any variables that are in defaults/main.yml, vars/main.yml, and any variables that can/should be set via parameters to the role. Any variables that are read from other roles and/or the global scope (ie. hostvars, group vars, etc.) should be mentioned here as well.

### Main Role Variables
Variables which are used to manage how to role runs.

* `{{ role_name }}_state`: The action for the role to take are:
  * _present_ (default): Install, enable, start and configure {{ role_name }} on the client.
  * _disabled_: Stop and disable the {{ role_name }} service on the client.
  * _absent_: Stop and remove {{ role_name }} from the client.

### {{ role_name|title }} Configuration
For details on configuring consult the programs [documentation](http://link.program/documentation).

* `{{ role_name }}_conf`: (Dict)
  **Options**:
  Describe how options should be passed. Give full details unless dynamically wrapping upstream. 
  Dictionary taking key pairs as option:value. 
  * bullet point and special ansible cases
  * such as variables which accept multiple types

  **Default**:
  ```yaml
  variable1: value1
  variable2: value2
  ```

### Additional Variables
Less common variables which change how the role functions.
* `{{ role_name }}_service`: Default _{{ role_name }}_. Name of service on client.
* `{{ role_name }}_packages: Default _[{{ role_name }}_. Name of packages.
* `{{ role_name }}_conf_path: Default _/etc/{{ role_name }}/{{ role_name }}.conf_. Path of configuration file on client.

Dependencies
------------

A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles.

None

Example Playbook
----------------

Including an example of how to use your role (for instance, with variables passed in as parameters) is always nice for users too:

    - hosts: servers
      roles:
      - { role: {{ role_name }}, x: 42 }

License
-------

GPLv3

Author Information
------------------

- Robert Brightling | [email](mailto:sentryveil00@gmail.com) | [GitLab](https://gitlab.com/brightling) | [GitHub](https://github.com/brightlingmeuk) | [Galaxy](https://galaxy.ansible.com/brightlingmeuk)
