---
# Absent default tasks for {{ role_name }}

- name: Stop and disable {{ role_name }} service.
  service: "name={{ '{{' }} {{ role_name }}_service {{ '}}' }} state=stopped enabled=no"
  become: true

- name: {{ role_name|title }} packages are absent.
  package: "name={{ '{{' }} item {{ '}}' }} state=absent"
  with_items:
    - '{{ '{{' }} {{ role_name }}_packages {{ '}}' }}'
  become: true

- name: {{ role_name|title }} configuration absent.
  file: "path={{ '{{' }} {{ role_name }}_conf_path {{ '}}' }} state=absent"
  become: true
