---
# Disabled default tasks for {{ role_name }}

- name: Stop and disable {{ role_name }} service.
  service: "name={{ '{{' }} {{ role_name }}_service {{ '}}' }} state=stopped enabled=no"
  become: true
