---
# tasks file for {{ role_name }}
# Load any distro speicic variables then
# select the type of playbook for the state selected, run a distory speicifc 
# playbook if available or use the generic default.
{% raw %}
- name: Include distribution specific variable.
  include_vars: "{{ item }}"
  with_first_found: 
    - files:
        - "{{ ansible_distribution | lower }}_{{ ansible_distribution_major_version}}.yml"
        - "{{ ansible_distribution | lower }}_{{ ansible_distribution_release }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      skip: true
{% endraw %}
- name: Import state task file
  include: "{{ '{{' }} state_file {{ '}}' }}"
  with_first_found:
    - files:
      - "{{ '{{' }} {{ role_name }}_state {{ '}}' }}_{{ '{{' }} ansible_distribution | lower {{ '}}' }}.yml"
      - "{{ '{{' }} {{ role_name }}_state {{ '}}' }}_{{ '{{' }} ansible_os_family | lower {{ '}}' }}.yml"
      - "{{ '{{' }} {{ role_name }}_state {{ '}}' }}_default.yml"
  loop_control:
    loop_var: state_file
