---
# Present Default tasks for {{ role_name }}

- name: {{ role_name|title }} packages are installed.
  package: name={{ '{{' }} item {{ '}}' }}
  with_items:
    - '{{ '{{' }} {{ role_name }}_packages {{ '}}' }}'
  become: true

- name: Set {{ role_name }} configuration.
  template:
    dest: '{{ '{{' }} {{ role_name }}_conf_path {{ '}}' }}'
    src: 'conf.j2'
    owner: 'root'
    group: 'root'
    mode: 'u=rw,g=r,o=r'
  notify: restart {{ role_name }}
  become: true

- name: {{ role_name|title }} service is started and enabled.
  service:
    name: "{{ '{{' }} {{ role_name }}_service {{ '}}' }}"
    state: 'started'
    enabled: 'yes'
  become: true
