---
# Defaults file for {{ role_name }}

{{ role_name }}_state: 'present'

{{ role_name }}_packages:
  - {{ role_name }}

{{ role_name }}_service: {{ role_name }}

{{ role_name }}_{{ role_name }}conf_path: '/etc/{{ role_name }}/{{ role_name }}.conf'

{{ role_name }}_{{ role_name }}_conf:
  variable1: value1
  variable2: value2
