---
# Handlers file for {{ role_name }}

- name: restart {{ role_name }}
  service: "name={{ '{{' }} {{ role_name }}_service {{ '}}' }} state=restarted"
  become: true

- name: reload {{ role_name }}
  service: "name={{ '{{' }} {{ role_name }}_service {{ '}}' }} state=reloaded"
  become: true
